#define MANIFEST 24
#define IDM_EXERCICES 10001
#define IDM_AIDE 10002
#define IDC_UDC1 1001
#define IDM_MIDI 10001
#define IDR_XPMANIFEST1 1
#define IDC_GRP1 1001
#define IDCB_MIDI_IN 1002
#define IDCB_MIDI_PORT_IN 1006
#define IDCK_MIDI_PORT_IN 1003
#define IDCK_MIDI_IN 1004
#define IDI_MIDI_IN 1005
#define IDI_MIDI_OUT 1007
#define IDCK_MIDI_OUT 1008
#define IDCK_MIDI_PORT_OUT 1009
#define IDCB_MIDI_PORT_OUT 1010
#define IDCB_MIDI_OUT 1011
#define IDC_GRP2 1012
#define IDW_PIANO 1013
#define IDM_ONAIP_DLG 10000
#define IDM_LECTURE_NOTE 10003
#define IDM_TRAVAIL_OREILLE 10001
#define IDM_MIDI_ACTUALISER 10002
#define IDM_PARTITION_AUTOSCROLLING 10006
#define IDM_APROPOSDE 10004
#define IDC_STC2 1003
#define IDC_STC3 1004
#define IDC_STC9 1010
#define IDC_STC4 1002
#define IDW_PARTITION 1001
#define IDC_GRP3 1001
#define IDLB_TYPE_PARTITION 1002
#define IDC_STC5 1003
#define IDC_STC6 1004
#define IDLB_TYPE_PORTEE 1005
#define IDLB_NB_NOTES 1006
#define IDC_STC7 1007
#define IDC_STC8 1008
#define IDLB_NB_OCTAVES 1009
#define IDC_STC10 1010
#define IDCK_ALTERATION_DIESE 1011
#define IDCK_ALTERATION_BEMOL 1012
#define IDC_STC11 1013
#define IDT_NB_NOTES_OK 1014
#define IDT_NB_NOTES 1015
#define IDC_STC14 1016
#define IDC_STC15 1017
#define IDT_POURCENTAGE 1018
#define IDB_GO 1019
#define IDB_STOP 1021
#define IDGB_EXERCICE 1020
#define IDC_STC13 1024
#define IDT_NB_TEMPS_MAX 1025
#define IDT_TEMPS 1026
#define IDC_STC18 1027
#define IDC_GRP4 1001
#define IDC_STC12 1002
#define IDT_NB_TEMPS_MAX_2 1003
#define IDC_STC17 1004
#define IDT_TEMPS_2 1005
#define IDCK_ALTERATION 1007
#define IDC_STC21 1009
#define IDLB_NB_OCTAVES_2 1010
#define IDLB_NB_NOTES_2 1011
#define IDC_STC22 1012
#define IDC_STC23 1013
#define IDLB_TYPE_PORTEE_2 1014
#define IDLB_TYPE_PARTITION_2 1015
#define IDC_STC24 1016
#define IDC_GRP5 1017
#define IDB_STOP_2 1018
#define IIDB_GO_2 1019
#define IDC_STC25 1020
#define IDT_NB_NOTES_OK_2 1021
#define IDC_STC27 1022
#define IDT_NB_NOTES_2 1023
#define IDT_POURCENTAGE_2 1024
#define IDB_ECOUTER_NOTE 1025
#define IDC_STC30 1026
#define IDLB_NUANCE 1027
#define IDC_STC20 1006

IDR_XPMANIFEST1 MANIFEST "xpmanifest.xml"

32512 ICON DISCARDABLE "onaip.ico"
PIANO88 BITMAP DISCARDABLE "piano_rsrc/piano88.bmp"
PIANO88_MIDI BITMAP DISCARDABLE "piano_rsrc/piano88_midi.bmp"
CLEF_FA BITMAP DISCARDABLE "piano_rsrc/clef_fa.bmp"
CLEF_SOL BITMAP DISCARDABLE "piano_rsrc/clef_sol.bmp"
ACCOLADE BITMAP DISCARDABLE "piano_rsrc/accolade.bmp"
DIESE BITMAP DISCARDABLE "piano_rsrc/diese.bmp"
BEMOL BITMAP DISCARDABLE "piano_rsrc/bemol.bmp"

ONAIP_DLG DIALOGEX 10,10,576,96
CAPTION "onaip v0.16b"
FONT 8,"MS Sans Serif",0,0,0
MENU IDM_ONAIP_DLG
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_THICKFRAME|WS_MINIMIZEBOX|DS_CENTERMOUSE
BEGIN
  CONTROL "MIDI IN",IDC_GRP1,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,9,6,276,33
  CONTROL "",IDCB_MIDI_IN,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,27,18,168,24
  CONTROL "",IDCB_MIDI_PORT_IN,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,216,18,45,24
  CONTROL "",IDCK_MIDI_PORT_IN,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,204,18,9,12
  CONTROL "",IDCK_MIDI_IN,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,15,18,9,12
  CONTROL "",IDI_MIDI_IN,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,267,18,12,12
  CONTROL "",IDI_MIDI_OUT,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,549,18,12,12
  CONTROL "",IDCK_MIDI_OUT,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,297,18,9,12
  CONTROL "",IDCK_MIDI_PORT_OUT,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DISABLED|WS_TABSTOP|BS_AUTOCHECKBOX,486,18,9,12
  CONTROL "",IDCB_MIDI_PORT_OUT,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,498,18,45,24
  CONTROL "",IDCB_MIDI_OUT,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,309,18,168,24
  CONTROL "MIDI OUT",IDC_GRP2,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,291,6,276,33
  CONTROL "IDC_UDC",IDW_PIANO,"piano_widget_class",WS_CHILDWINDOW|WS_VISIBLE,9,45,558,48
END

IDM_ONAIP_DLG MENU
BEGIN
  POPUP "Exercices"
  BEGIN
    MENUITEM "Lecture des notes",IDM_LECTURE_NOTE
    MENUITEM "Travail de l'oreille",IDM_TRAVAIL_OREILLE
  END
  POPUP "Options"
  BEGIN
    POPUP "Midi"
    BEGIN
      MENUITEM "Actualiser les périphériques midi",IDM_MIDI_ACTUALISER
    END
    POPUP "Partition"
    BEGIN
      MENUITEM "Défilement automatique",IDM_PARTITION_AUTOSCROLLING,CHECKED
    END
  END
  POPUP "?"
  BEGIN
    MENUITEM "À propos de onaip",IDM_APROPOSDE
  END
END

APROPOSDE_DLG DIALOGEX 10,10,333,66
CAPTION "À propos de onaip"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX|WS_MAXIMIZEBOX|DS_CENTER
EXSTYLE WS_EX_TOOLWINDOW
BEGIN
  CONTROL "©Chédotal Julien",IDC_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE,138,15,60,9
  CONTROL "bug -> rjdi@wanadoo.fr",IDC_STC3,"Static",WS_CHILDWINDOW|WS_VISIBLE,127,27,78,9
  CONTROL "10/2015",IDC_STC9,"Static",WS_CHILDWINDOW|WS_VISIBLE,0,3,30,9
  CONTROL "onaip v0.16b",IDC_STC4,"Static",WS_CHILDWINDOW|WS_VISIBLE,139,3,54,9
END

PARTITION_DLG DIALOGEX 10,10,930,375
CAPTION "Partition - Mode libre ( -/+ Zoom )"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW|DS_CENTER
BEGIN
  CONTROL "",IDW_PARTITION,"partition_widget_class",WS_CHILDWINDOW|WS_VISIBLE,153,69,654,189
END

EXERCICE_NOTES_DLG DIALOGEX 10,10,120,183
CAPTION "Lecture des notes"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX|DS_CENTER
BEGIN
  CONTROL "Configurations",IDC_GRP3,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,3,3,114,114
  CONTROL "",IDLB_TYPE_PARTITION,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,51,15,54,12
  CONTROL "Notes :",IDC_STC5,"Static",WS_CHILDWINDOW|WS_VISIBLE,12,54,24,9
  CONTROL "Portée(s) :",IDC_STC6,"Static",WS_CHILDWINDOW|WS_VISIBLE,12,36,33,9
  CONTROL "",IDLB_TYPE_PORTEE,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,51,33,30,12
  CONTROL "",IDLB_NB_NOTES,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,51,51,30,12
  CONTROL "Partition :",IDC_STC7,"Static",WS_CHILDWINDOW|WS_VISIBLE,12,18,30,9
  CONTROL "Difficultée :",IDC_STC8,"Static",WS_CHILDWINDOW|WS_VISIBLE,12,72,36,9
  CONTROL "",IDLB_NB_OCTAVES,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,51,69,54,12
  CONTROL "   Altérations \n accidentelles :",IDC_STC10,"Static",WS_CHILDWINDOW|WS_VISIBLE,9,90,51,24
  CONTROL "dièse",IDCK_ALTERATION_DIESE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,63,87,30,9
  CONTROL "bémol",IDCK_ALTERATION_BEMOL,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,63,99,30,9
  CONTROL "SCORE :",IDC_STC11,"Static",WS_CHILDWINDOW|WS_VISIBLE,9,132,33,9
  CONTROL "50",IDT_NB_NOTES_OK,"Static",WS_CHILDWINDOW|WS_VISIBLE,42,132,12,9
  CONTROL "50",IDT_NB_NOTES,"Static",WS_CHILDWINDOW|WS_VISIBLE,66,132,12,9
  CONTROL "/",IDC_STC14,"Static",WS_CHILDWINDOW|WS_VISIBLE,57,132,6,9
  CONTROL "%",IDC_STC15,"Static",WS_CHILDWINDOW|WS_VISIBLE,105,132,9,9
  CONTROL "100",IDT_POURCENTAGE,"Static",WS_CHILDWINDOW|WS_VISIBLE,90,132,15,9
  CONTROL "Go",IDB_GO,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,72,162,21,15
  CONTROL "Stop",IDB_STOP,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DISABLED|WS_TABSTOP,24,162,24,15
  CONTROL "Exercice",IDGB_EXERCICE,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,3,120,114,60
  CONTROL "/",IDC_STC13,"Static",WS_CHILDWINDOW|WS_VISIBLE,57,147,6,9
  CONTROL "50",IDT_NB_TEMPS_MAX,"Static",WS_CHILDWINDOW|WS_VISIBLE,66,147,12,9
  CONTROL "50",IDT_TEMPS,"Static",WS_CHILDWINDOW|WS_VISIBLE,42,147,12,9
  CONTROL "TEMPS :",IDC_STC18,"Static",WS_CHILDWINDOW|WS_VISIBLE,9,147,33,9
END

EXERCICE_OREILLE_DLG DIALOGEX 10,10,168,201
CAPTION "Travail de l'oreille"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX|DS_CENTER
BEGIN
  CONTROL "Exercice",IDC_GRP4,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,3,114,162,84
  CONTROL "/",IDC_STC12,"Static",WS_CHILDWINDOW|WS_VISIBLE,57,141,6,9
  CONTROL "50",IDT_NB_TEMPS_MAX_2,"Static",WS_CHILDWINDOW|WS_VISIBLE,66,141,12,9
  CONTROL "TEMPS :",IDC_STC17,"Static",WS_CHILDWINDOW|WS_VISIBLE,9,141,33,9
  CONTROL "50",IDT_TEMPS_2,"Static",WS_CHILDWINDOW|WS_VISIBLE,42,141,12,9
  CONTROL "Altérations",IDCK_ALTERATION,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,51,93,48,10
  CONTROL "Difficultée :",IDC_STC21,"Static",WS_CHILDWINDOW|WS_VISIBLE,12,75,36,9
  CONTROL "",IDLB_NB_OCTAVES_2,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,51,72,54,12
  CONTROL "",IDLB_NB_NOTES_2,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,51,54,30,12
  CONTROL "Notes :",IDC_STC22,"Static",WS_CHILDWINDOW|WS_VISIBLE,12,57,24,9
  CONTROL "Portée(s) :",IDC_STC23,"Static",WS_CHILDWINDOW|WS_VISIBLE,12,39,33,9
  CONTROL "",IDLB_TYPE_PORTEE_2,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,51,36,30,12
  CONTROL "",IDLB_TYPE_PARTITION_2,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,51,18,54,12
  CONTROL "Partition :",IDC_STC24,"Static",WS_CHILDWINDOW|WS_VISIBLE,12,21,30,9
  CONTROL "Configurations",IDC_GRP5,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,3,6,162,102
  CONTROL "Stop",IDB_STOP_2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DISABLED|WS_TABSTOP,24,156,24,15
  CONTROL "Go",IIDB_GO_2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,69,156,21,15
  CONTROL "SCORE :",IDC_STC25,"Static",WS_CHILDWINDOW|WS_VISIBLE,9,126,33,9
  CONTROL "50",IDT_NB_NOTES_OK_2,"Static",WS_CHILDWINDOW|WS_VISIBLE,42,126,12,9
  CONTROL "/",IDC_STC27,"Static",WS_CHILDWINDOW|WS_VISIBLE,57,126,6,9
  CONTROL "50",IDT_NB_NOTES_2,"Static",WS_CHILDWINDOW|WS_VISIBLE,66,126,12,9
  CONTROL "100",IDT_POURCENTAGE_2,"Static",WS_CHILDWINDOW|WS_VISIBLE,90,126,15,9
  CONTROL "Écouter la note",IDB_ECOUTER_NOTE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DISABLED|WS_TABSTOP,99,150,60,42
  CONTROL "Nuance :",IDC_STC30,"Static",WS_CHILDWINDOW|WS_VISIBLE,9,180,33,9
  CONTROL "",IDLB_NUANCE,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,48,177,42,15
  CONTROL "%",IDC_STC20,"Static",WS_CHILDWINDOW|WS_VISIBLE,105,126,9,9
END

